@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}
<div class="registerpage">
    <button class="back-button" onclick="window.location.href='@Model.ReturnUrl'">Back</button>

    <form class="register-form" method="post">
        <h2>Write you Email</h2>
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="form-floating mb-3">
            <label asp-for="Input.Email">Email</label>
            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <button type="submit">Send Password Reset Link</button>
     
    </form>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
