@page
@model ForgotPasswordConfirmation

<div class="registerpage">
    <button class="back-button" onclick="window.location.href='@Model.ReturnUrl'">Back</button>
    <div class="ForgotPasCon">
        <p class="message">
            A password reset link has been sent to your email.
        </p>
        <button class="signup-btn" onclick="redirectToLogin()">LogIn</button>
    </div>
</div>
<script>
    function redirectToLogin() {
        window.location.href = '/Identity/Account/Login';
    }
</script>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
