@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

<div class="registerpage">
    <button class="back-button" onclick="window.location.href='@Model.ReturnUrl'">Back</button>

    <form class="register-form" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <h2>Create a new password</h2>
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <input type="hidden" name="ResetToken" value="@Model.ResetToken" />
        <input type="hidden" name="UserEmail" value="@Model.UserEmail" />

        <div class="form-floating mb-3">
            <label asp-for="Input.Password">Password</label>
            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <label asp-for="Input.ConfirmPassword">Confirm Password</label>
            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
       
    </form>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
